// - head.pug
meta(charset="utf-8")
meta(name="description" content="A microservice to check file size")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title="file metadata microservice"
link(id="favicon" rel="icon" href="copyleft.png" type="image/x-icon")
link(rel="stylesheet" href="main.css")
