// - index.pug
doctype html
html(lang="en")
  head
    include head.pug
  body
    h1 File Metadata Microservice
    form(class="handle" enctype="multipart/form-data" action="/upload" method="post")
      label(for="summitInput") Sumit a file to view its filesize
      input(type="file" name="file0" id="summitInput" required)
      input(type="submit" id="getSizeButton" value="get size")
    footer
      p CopyLeft &copy 2017 Develop by 
        a(href="https://github.com/Luiko" title="github page") Luiko
    script(src="client.js")
